.chatRoom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 440px;
}
.dialogs,
.messages {
    overflow-y: scroll;
}

.messages {
    li {
        padding: 15px 0 15px 20px;
        list-style-type: none;
    }
}
