.classic {
    padding: 6px 12px;
    border: 1px solid #f1f2f2;
    border-radius: 4px;
    font-size: 14px;
    width: 214px;
    height: 34px;
    color: #939598;
}
::placeholder {
    color: #939598;
}
.classic:focus {
    outline: none;
    border: 1px solid #66afe9;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(102, 175, 233, 60%);
}
