.wrapper {
    width: 100%;
}
.header {
    height: 150px;
    background: url("../../../assets/images/backPhoto.jpg") bottom;
    display: flex;
    h1 {
        width: fit-content;
        margin: auto;
        margin-left: 45px;
        font-weight: 700;
        filter: invert(1);
        mix-blend-mode: difference;
    }
}
.avatar {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 35px;
}
.status {
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 170px;
    button {
        margin-top: 6px;
    }
}

.aboutMe {
    // height: 30px;
    font-weight: 600;
    font-size: 16px;
    // margin-left: 170px;
}

.discription {
    h2 {
        text-transform: capitalize;
    }
}

.info {
    display: flex;
    justify-content: space-around;
}
.contacts {
    ul {
        padding-left: 15px;
    }
}
.contact {
    list-style-type: none;
    font-size: 15px;
    background: url("../../..//assets/icons/check.svg") no-repeat 0 5px/15px;
    padding-left: 25px;
}
