.blue {
    padding: 7px 25px;
    border-radius: 30px;
    background-color: #27aae1;
    border: none;
    transition: 1s;
}
.blue:hover {
    background-color: #149ac9;
}
.blue:focus {
    background-color: #149ac9;
    box-shadow: none;
    outline: none;
}
.blue:active {
    background-color: #286090;
    box-shadow: none !important;
}

.black {
    line-height: 0;
    width: 56px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
.black:hover {
    background-color: black;
    border: 1px solid #adadad;
}
.black:focus {
    background-color: black;
    box-shadow: none;
}
.black:active {
    box-shadow: none !important;
    background-color: #d9d9d9;
    color: black;
}
