.post {
    background-color: #f8f8f8;
    color: #939598;
    font-size: 13px;
    margin-bottom: 20px;
}
.graphic {
    width: 100%;
}
.wrapper {
    display: flex;
    padding: 20px;
}
.avatarPost {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.underPost {
    width: 100%;
    margin-left: 20px;
}
.text {
    border-bottom: 1px solid #e6e6e6;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
