.form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .item {
        margin-bottom: 10px;
    }
    .buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        button {
            width: 45%;
        }
        a {
            width: 45%;
            button {
                width: 100%;
            }
        }
    }
}
